.container-per-infor {
    /*background-color: #e39797;*/
    margin-top: 180px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 20px;
    background-color: #ffebcd;
    border-radius: 10px;
}

.infor-contact {
    grid-column: 2 / span 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #ffabb8;
}

.image-service-paka {
    grid-column: 1 / span 1;
    /*grid-column: 1 / span 3;*/
    grid-row: 1 / span 2;
    max-width: 40%;
    height: auto;
    border-radius: 5px;
}

.service-package-title {
    grid-column: 1/ span 2;
    grid-row: 1 / span 1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.service-package-price {
    grid-column: 2;
    grid-row: 2 / span 2;
    font-size: 20px;
    /*text-align: center;*/
}

.service-package-description{
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    font-size: 16px;
}

.service-package-star {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;
    font-size: 16px;
    text-align: center;
}

.service-package-user {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: 16px;
    text-align: center;
}

.infor-contact .createdAt {
    grid-column: 3 / span 1;
    font-size: 16px;
    text-align: center;
    width: 10px;
}
.form-per-infor {
    background-color: rgba(5, 0, 0, 0.4);
    width: 100%;
    max-width: 850px;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #fff;
    margin: 0 auto;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-gap: 20px;*/
}
.title-per-infor {
    color: #ffabb8;
    font-size: 39px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.form-submit-per-infor {
    background-color: #ffabb8;
    color: white;
    padding: 20px;
    width: 50%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.form-submit-per-infor:hover {
    background-color: #ff4081;
}