.container-per-infor {
    /*background-color: #e39797;*/
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.infor-contact {
    flex: 1;

}

.image-service-paka {
    float: left;
    margin-right: 20px;
    height: 50%;
    width: 40%;
}

.service-package-title {
    padding-bottom: 30px;
    font-size: 25px;
}

.service-package-price {
    color: #e39797;
}

.service-package-description{
}

.service-package-star {
}

.service-package-user {
    padding-bottom: 50px;
}
.label-form-infor{
    font-size: 20px;
    color: black;
}
.service-package-createAt {
    color: #e67979;
}
.form-per-infor {
    background-color: rgba( 250, 240, 230, 1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 650px;
    justify-content: center;
    /*box-sizing: border-box;*/
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
    margin: auto;
    transition: all 0.3s ease;
}
.form-per-infor:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
.info-form-couple{
    width: auto;
    margin: 0 auto;
    padding-left: 90px;
}
.title-per-infor {
    color: black;
    font-size: 39px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.form-submit-per-infor {
    background-color: #ffabb8;
    font-size: 25px;
    color: white;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.form-submit-per-infor:hover {
    background-color: #ff4081;
}