.booking{
    padding-top: 150px;
    max-width: 1585px;
    width: 100%;
    margin: 0 auto;
}
.title-booking{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #ffabb8;

}
.list-booking{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    /*justify-content: center;*/
}

.booking-container {
    /*flex: 2;*/
    background-color: #fae5dc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /*margin: 0 auto;*/
}

.booking-card {
    width: 600px;
    margin: 50px;
    border: 4px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: blanchedalmond;
}

.booking-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.booking-card p {
    padding: 10px;
    margin: 0;
    text-align: center;

}

.booking-card h3 {
    margin: 0;
    color: hotpink;
    padding: 10px;
    font-size: 1.2rem;
    /*background-color: #e0e0e0;*/
    /*color: #333;*/
    text-align: center;
    justify-content: center;
}

.booking-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}


.booking-card.waiting {
    border-color: #FFC107;
    line-height: 30px;
}

.btn-booking {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.btn-accepted-booking{
    padding: 20px;
    margin-right: 10px;
    margin-left: 70px;
    border-radius: 10px;
    background-color: #2ecc71;
    border: none;
    width: 140px;
    /*border-radius: 5px;*/
    color: black;
    font-size: 16px;
    cursor: pointer;

}
.btn-reject-booking{
    padding: 10px;
    width: 140px;
    background-color: #f19246;
    border: none;
    margin-right: 110px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40px;
}