.createPostContainer {
}
.create-post {
  padding: 20px 0 10px 0;
  border-radius: 10px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: var(--main-color);
}
.caption {
  position: relative;
}
/* .caption textarea {
  width: 100%;
  margin-top: 20px;
} */
.caption textarea {
  margin: auto;
  width: 90%;
  min-width: 250px;
  min-height: 60px;
  border: none;
  outline: none;
  resize: none;
  border-radius: 10px;
  background-color: #e397973f;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.523);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.caption textarea::placeholder {
  font-size: 1rem;
  color: rgb(95, 95, 95);
}
.caption textarea:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.choose-img {
  display: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon_container {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f5f5f5;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.icon_container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.create-bottom {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 0 auto;
  align-items: center;
}
.create-btn {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 45px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
}
.create-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.preview img {
  width: 80%;
  max-height: 800px;
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .caption textarea {
    /* width: 70%; */
    /* min-height: 80px; */
  }
}
@media only screen and (max-width: 770px) {
  .create-post {
  }
  .caption textarea {
  }
  .caption {
    margin-left: 20px;
  }
}
/* New post */
