.footer {
  width: 100%;
  padding: 2%;
  background-color: black;
  margin: 15px auto 0px auto;
  align-items: center;
}
.footer_Content {
  display: flex;
}
.right_Footer {
  width: 30%;
  min-width: 180px;
  text-align: center;
}
.cooperate {
  margin-top: 10px;
}
.cooperate a {
  padding: 5px 10px 5px 10px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
}

.left_Footer {
  width: 70%;
}
.title {
  font-size: 16px;
  font-weight: 700;
}
.footer_List {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer_Item {
  min-width: 150px;
}
.footer_List li a {
  color: #ffffff;
  text-decoration: none;
}

.by p {
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
}
/* floating heart */




@media only screen and (max-width: 1070px) {
  .footer {
    width: 1070px;
  }
}

@media only screen and (max-width: 700px) {
  .footer_List {
    text-align: center;
    flex-direction: column;
  }
  .footer_Item {
    margin-top: 20px;
  }
}
