.paymentPage{
    
    max-width: 1440px;
    margin: 150px auto 0px auto;
    gap: 10px;
}
.title-payment{
    line-height: 70px;
    text-align: center;
    font-size: 35px;
  
    color: #e39797;
    
}
.pay-content{
    text-align: center;
}
.container-payment {   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}


.choice-payment{
 text-align: center;
}
.choice-payment img{
    border-radius: 10px;
}

.attention{
    color: red;
    font-weight: 700;
}
.confirmation{
    border: 3px solid var(--main-color);
    margin: 0px auto;
    border-radius: 10px;
    width: 400px;
}
.confirmation h3{
 text-align: center;
}
.label-form-infor-cf{
    width: 90%;
    margin-top: 10px;
    margin-left: 15px;
   padding: 5px;
   font-size: 18px;
   font-weight: 700;
   color: black;
   
}
.form-submit-per-infor-cf{
    background-color: var(--main-color);
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;

}
.pay-btn-cf{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 15px;
}
.form-submit-per-infor-cf:hover {
  background-color: #e5e5e5;
  color: var(--main-color);
}
.container-cf{
    display: grid;
    grid-template-columns: 40% 60%;
}
.image-service-paka-cf{
    width: 90%;
    border-radius: 10px;
}

