.paymentPage{
    margin-top: 180px;
}
.title-payment{
    line-height: 70px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #e39797;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.choices {
    display: flex;
    flex-wrap: wrap; /* Hiển thị 2 cột trên cùng dòng */
    width: 70%; /* Định nghĩa chiều rộng của phần cột chọn */
}

.choices-left {
    display: flex;
    width: 70%; /* Chọn 50% chiều rộng cho phần bên trái */
}

.payment-image {
    width: 300px; /* Chiều rộng của hình ảnh */
    height: 200px; /* Chiều cao của hình ảnh */
    margin-right: 20px; /* Tạo khoảng cách giữa hình ảnh và văn bản */
}

.container-payment {
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    margin-top: 20px;
}

.choice-vnpay {
    margin-left: 50px;
    cursor: pointer;
}

.choice-momo {
    margin-left: 90px;
    cursor: pointer;
    border-radius: 50%;
}

.confirmation{
    float: right;
    margin-right: 20px;
}

/*.btn-VNpay{*/
/*    border: none;*/
/*     margin-top: 20px;*/
/*    font-weight: bold;*/
/*    background-color: var(--main-color);*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*    width: auto;*/
/*    margin-left: 40px;*/
/*}*/

/*.btn-momo{*/
/*    border: none;*/
/*    font-weight: bold;*/
/*    margin-top: 20px;*/
/*    background-color: var(--main-color);*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*    margin-left: 60px;*/

/*}*/


.per-infor-type-text:focus,
.per-infor-type-email:focus,
.per-infor-type-number:focus,
.per-infor-datetime-local:focus,
.per-infor-type-textrea:focus {
    border-color: #ffabb8;
}



