@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    /* color: #fff; */
}

.container-register {
    min-height: 100vh;
    background-image: url("../../../src/assets/images/hinhnen.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.register-section{
    width: 150%;
    max-width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background-color: rgba(3, 0, 0, 0.4);
    /*margin: 0;*/
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0 150px;
}
.login-section{
    width: 150%;
    max-width: 650px;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(3, 0, 0, 0.4);
    /*margin: 0;*/
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0 150px;
}


.form_header {
    text-align: center;
    font-size: 1rem;
}
.form_header_welcome {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: pink;
}
.form_header_register-text {
    margin-block: 1rem;
}
.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 6;
    padding-bottom: 1rem;
    margin-inline: 1.5rem;

}

.form-login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    margin-inline: 1.5rem;
    padding-left: 30px

}
#userType{
}

.label-form-register-login{
    font-size: 20px;
    color: white;
}
.btn-login {
    background-color: #ffabb8;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    border-radius: 0.5rem;
    /*padding: 0.5rem;*/
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 10px;

}
.inputForm-password{
    height: 40px;
}
.line {
    display: block;
    margin: 11px auto;
    padding: 10px 25px;
    font-size: 24px;
    width: 390px;
    cursor: pointer;
    /*text-align: center;*/
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ffabb8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;


}

.line:hover {
    color: black;
    background-color: blanchedalmond;
}
inputForm{
    position: relative;
}
.inputForm input {
    margin-block: 1rem;
    float: left;
    width: 600px;
}
.Login-Btn{
    line-height: 15px;
}

.form-verify {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-verify form {
    max-width: 600px;
    border: 2px solid #f0a4c2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px #f0a4c2;
    margin-top: 90px
}

.OTP-code {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 2px solid #f0a4c2;
    padding-bottom: 20px;
}
.test-otp{
   padding-top: 30px;
    margin-left: 20px;

}

.OTP-code input {
    border: 2px solid #f0a4c2;
    border-radius: 4px;
    margin-right: 30px;
}

.verifi-OTP {
    margin-right: 20px;
    background-color: #f0a4c2;
    border: none;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 5px #f0a4c2;
    transition: all 0.2s ease-in-out;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.verifi-OTP:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #f0a4c2;
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    .login-section{
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        background-color: rgba(3, 0, 0, 0.4);
        margin: 0;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        color: #fff;
    }
    .register-section{
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        background-color: rgba(3, 0, 0, 0.4);
        margin: 0;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        color: #fff;
    }

    .form_header {
        text-align: center;
        font-size: 1rem;
        padding-top: 5px;
    }
    .form_header_welcome {
        font-size: 1.5rem;
        padding-top: 2px;
        margin-bottom: 1rem;
        color: pink;

    }

    .btn-login {
        background-color: #ffabb8;
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 1rem;
    }
    .line {
        display: block;
        margin: 11px auto;
        padding: 10px 25px;
        font-size: 24px;
        width: 190px;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #ffabb8;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px #999;
    }
}
/*Smart phone nhỏ*/
@media screen and (min-width: 360px){


}

@media screen and (min-width: 768px){
    .login-section{
        width: 100%;
        height: 950px;
        margin: 60px;
    }
    .register-section{
        width: 100%;
        height: 950px;
        margin: 60px;
    }

    .form_header {
        padding-top: 5px;
    }
    .form_header_welcome {
        padding-top: 2px;
        margin-bottom: 1rem;
    }

    .btn-login {
        font-size: 22px;
        padding: 0.5rem;
        margin-top: 1rem;
    }
    .line {
        width: 190px;
    }

}

@media only screen and (max-width: 390px) {
    .login-section{
        width: 100%;
        height: 950px;
        margin: 0;
    }
    .register-section{
        width: 100%;
        height: 950px;
        margin: 0px;
    }

    .form_header {
        text-align: center;
        font-size: 1rem;
        padding-top: 5px;
    }
    .form_header_welcome {
        font-size: 1.5rem;
        padding-top: 2px;
        margin-bottom: 1rem;
    }

    .btn-login {
        font-size: 22px;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 330px ;
        margin-top: 1rem;
    }
    .line {
        width: 190px;
    }
}